html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background-color: #ffecb3;
  overflow: hidden;
}
* {
  box-sizing: border-box;
}
.container {
  display: block;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  padding: 50px 0;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: rgba(211,45,45,0.2);
}
.container:before {
  content: '';
  display: block;
  position: absolute;
  width: 150%;
  height: 100%;
  top: 0;
  left: -25%;
  -moz-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
  z-index: -1;
  background-color: rgba(244,67,54,0.15);
}
h1 {
  font-family: "Lato";
  font-size: 1.3em;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 50px;
}
h3 {
  display: block;
  height: 19px;
  margin-top: 30px;
  font-family: "Lato";
  font-size: 1em;
  color: #fff;
  opacity: 0;
}
.search-box-container {
  display: inline-block;
  box-sizing: content-box;
  height: 50px;
  width: 50px;
  padding: 0;
  background-color: #fff;
  border: 3px solid #f44336;
  border-radius: 28px;
  overflow: hidden;
}
.search-box-container * {
  display: inline-block;
  margin: 0;
  height: 100%;
  padding: 5px;
  border: 0;
  outline: none;
}
.search-box {
  width: calc(100% - 50px);
  padding: 0 20px;
  float: left;
  font-family: "Lato";
  font-size: 1em;
  color: #212121;
  background-color: #fff;
}
.submit {
  float: right;
  width: 50px;
  left: 0;
  top: 0;
  font-size: 1.2em;
  text-align: center;
  cursor: pointer;
  background-color: #fff;
}
.fa {
  display: inline !important;
  line-height: 100%;
  pointer-event: none;
  color: #d32f2f;
}
